* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    --main-color: #20a8d3;
}

.wrapper {
    padding: 10px;
    width: 100vw;
    min-height: 100vh;

    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
}

.human_info_components {
    padding: 10px;
    width: 100%;
    min-height: 80vh;

    display: flex;
    flex-direction: column;
    gap: 10px;

    border-radius: 8px;
    background-color: #f2f2f2;
}

.human_info_inputs {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

}

/*---------------- human_body_input_container -----------------*/
.human_body_input_container {
    position: relative;
    padding: 20px 10px;
    width: 30%;

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1 0 23%;

    border-radius: 8px;
    background-color: var(--main-color);
}

.icon_container {
    width: 20px;
    height: 20px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.info {
    color: #fff;
    cursor: pointer;
}

.icon_container img {
    width: 100%;
}

.controller_container {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, calc(0% + 15px));

    background-color: #fff;
    border-radius: 8px;
    z-index: 1;

    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    display: none;
}

.controller_container.active {
    display: block;
}

.controller_container::after {
    content: '';
    position: absolute;
    top: 0%;
    left: 50%;
    transform: rotate(45deg) translate(-50%, -30%);

    width: 15px;
    height: 15px;
    background-color: #e6f2f3;
    z-index: 0;
}

.controller_header {
    width: 100%;
    padding: 2px 10px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: #087e8b1a;
    color: var(--main-color);
    border-radius: 8px 8px 0 0;
}

.controller_header span {
    cursor: pointer;
}

.controller_input_wrapper {
    width: 100%;
    min-width: 120px;
    padding: 10px;

}

.controller_input_wrapper input {
    cursor: pointer;
}

.controller_input_wrapper select {
    width: 100%;
    border: 1px solid #bcbcbc;
    outline: none;

    border-radius: 4px;
    cursor: pointer;
}
/*------------------------------------------------------------*/

.search_component {
    width: 100%;
    padding: 10px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;

    border-radius: 8px;
    background-color: #fff;
}

.search_component input {
    width: 100%;

    background-color: transparent;
    border: none;
    outline: none;
}

.search_component .search_btn button {
    padding: 10px 20px;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--main-color);
    border-radius: 4px;
    outline: none;
    border: none;

    cursor: pointer;
}

.search_component .search_btn img {
    width: 100%;
    max-width: 40px;
}

/*-----------------*/
.absolute_btn {
    position: fixed;
    bottom: 20px;
    right: 20px;

    padding: 10px 20px;
    border-radius: 40px;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-color: var(--main-color);
    cursor: pointer;
}

.absolute_btn img {
    width: 25px;
}

.absolute_btn h2 {
    color: #fff;
    font-weight: 90;
    text-decoration: underline;
    font-weight: 200;
}

@media (max-width: 950px) {
    .wrapper {
        flex-direction: column;
    }
}